.root {
  width: 100%;
  height: calc(100% - 80px);
}

.search_wrapper {
  height: 80px;
  display: flex;
  justify-content: center;
}

.search_card_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 362px);
  overflow-y: overlay;
  margin: 20px 50px 0;
  padding: 0 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.header {
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 28px 0 0;
  box-sizing: border-box;
  height: 100px;
  margin: 0;
}

.subheader {
  text-align: center;
  color: #fff;
  font-size: 18px;
  box-sizing: border-box;
  height: 40px;
  margin: 0;
}

.filter_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  padding: 20px 0;
  box-sizing: 0;
  height: 40px;
}

.filter_wrapper_item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

.filter_wrapper_item label {
  cursor: pointer;
}
